*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
\.vscode
\2009*
\2010*
\2011*
\2012*
\2013*
\2014*
\2015*
\2016*
\2017-01*
*.yml